@inherits LayoutComponentBase

<PageTitle>DnDCharacterBuilder</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="/">Build</a>
            <a href="/Legal">Legal</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
