@page "/Legal"

<h3>Legal information</h3>

<p>
	DUNGEONS & DRAGONS, D&D, Wizards of the Coast, Forgotten Realms, Ravenloft, Eberron, the dragon ampersand, Ravnica and all other Wizards of the Coast product names, and their respective logos are trademarks of Wizards of the Coast in the USA and other countries.
	This work contains material that is copyright Wizards of the Coast and/or other authors. Such material is used with permission under the Community Content Agreement for the Dungeon Masters Guild.
	All other original material in this work is copyright 2023 by Jan Burzyński and published under the Community Content Agreement for Dungeon Masters Guild.
</p>

@code {

}
